/* Write your CSS code here */

.list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
}

.blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: #12022f;
}

.date-time {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  color: #9aa5b1;
}

.blog-info {
  font-family: 'Roboto';
  font-size: 16px;
  color: #9aa5b1;
  font-weight: normal;
}
